/* SLIDER */
#slider {
    padding-top: 50%;
    background: url(https://bizweb.dktcdn.net/thumb/2048x2048/100/152/177/themes/622052/assets/slideshow_1.jpg?1676963024009) center / cover no-repeat;
    position: relative;
}